body {
    font-family: "helvetica neue";
    font-size: 100%;
    background: url(/static/images/bg_tile.png) repeat left top;
}

a {
    text-decoration: none;
}

#toolbar button {
    font-family: "helvetica neue";
    font-size: 0.8125em;
    height: 25px;
    border: 1px solid rgba(0,0,0,0.2);
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 2px 2px 2px -1px rgba(0,0,0,0.6);
    padding-left: 26px;
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
    line-height: 1.6;
    background: url(/static/images/sprite_icons.png) no-repeat 3px top;
}

button.info,
button.comments {
    width: 60px; 
}

#toolbar button.info,
#toolbar button.comments,
#toolbar button.upload {
    -webkit-transition: background-color 0.2s linear;
}

#toolbar button.info.on {
    background-color: #fff;
    background-position: 3px 2px;
}

#toolbar button.comments.on {
    background-color: #fff;
    background-position: 3px -147px
}

#toolbar button.upload.on {
    background-color: #fff;
    background-position: 3px -298px;
}

#toolbar button.info {
    background-position: 3px -98px;
    background-color: #CCC;
    color: #666;
}

#toolbar button.comments {
    background-position: 3px -247px;
    background-color: #CCC;
    color: #666;
}

#toolbar button.upload {
    background-position: 3px -398px;
    background-color: #CCC;
    color: #666;
}

#toolbar button.info:hover {
    background-color: #339;
    background-position: 3px -48px;
    color: #fff;
}

#toolbar button.comments:hover {
    background-color: #F90;
    background-position: 3px -197px
}

#toolbar button.upload:hover {
    background-color: #090;
    background-position: 3px -348px;
    color: #fff;
}

#toolbar button.comments:active,
#toolbar button.upload:active,
#toolbar button.info:active {
    position: relative;
    top: 1px;
    left: 1px;
}

#toolbar button.info:active {
    background-color: #006;
    background-position: 3px -48px;
    color: #fff;
}

#toolbar button.comments:active {
    background-color: #E77714;
    background-position: 3px -197px
}

#toolbar button.upload:active {
    background-color: #060;
    background-position: 3px -348px;
    color: #fff;
}

#productHeader p, 
#productHeader a,
#screens,
#screens li,
#screens li a,
#toolbar a,
#design,
#annotations,
#tasks header,
#tasks-done,
#tasks-todo {
    display: block;
    float: left;
}

#productHeader p:last-child,
#tasks,
#tasks > a {
    float: right;
}

#dialogs,
.dropdown,
#tasks-done {
    display: none;
}

#tasks time,
#tasks header ul,
#projects {
    display: none;
    position: absolute;
}

.dropdown {
    padding-right: 20px;
    background: url(/static/images/downArrow.png) no-repeat right 5px;
}

#dialogs .dragFile, 
#dialogs .comment,
#dialogs .explain {
    display: none;
}

#page,
#content,
#annotations .item {
    position: relative;
}

#tasks,
#annotations h1 img {
    position: absolute;
}

#page {
    margin: 0 auto;
}

#productHeader #logo {
    position: relative;
    margin-top: -5px;
    width: 96px;
}

#page > header {
    min-height: 72px;
    width: 100%;
    padding-bottom: 32px;
}

#productHeader, #toolbar {
    width: 100%;
}

#productHeader {
    min-height: 26px;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#24375D), to(#242546));
    padding: 10px 0 0 6px;
    position: relative;
    z-index: 3;
}

#productHeader p,
#productHeader a:link,
#productHeader a:visited,
#productHeader a:focus,
#productHeader a:hover,
#productHeader a:active {
    font-size: 0.875em; /*12px*/
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    margin-right: 30px;
}

#productHeader p:last-child {
    margin-right: 10px;
}

#projects {
    top: 25px;
    left: 126px;
    z-index: 2;
    background-color: #CCC;
    width: 150px;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.6);
}

#projects ul,
#projects a {
    color: #333;
    display: block;
    width: 100%;
    padding: 3px 0;
}

#toolbar {
    width: 100%;
    position: relative;
    min-height: 35px;
    margin-bottom: 1px;
    box-shadow: 0px 10px 5px -5px rgba(0,0,0,0.6);
    background-color: #333;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 20%, from(#9d9d9d), to(#cccccc));
    padding-left: 10px;

}

#toolbar > a:first-child {
    z-index: 3;
    color: #666;
    position: absolute;
    top: 0;
    left: 0px;
    font-size: 1.5625em;
    background: url(/static/images/toolbar.png) no-repeat left top;
    width: 90px;
    height: 36px;
    padding: 5px 0 0 10px;
}

#toolbar .buttons {
    position: absolute;
    top: 5px;
    right: 8px; 
}

.buttons .group {
    float: left;
    border-right: 1px dotted #333;
    padding: 0 9px 2px 0;
    margin-right: 5px;
}

#toggleVersionHistory {
    text-transform: uppercase;
}

#toolbar #toggleVersionHistory.on,
#toolbar #toggleVersionHistory:hover {
    overflow: hidden;
    background: url(/static/images/version_arrows.png) no-repeat 10px 5px, url(/static/images/toolbar.png) no-repeat left top;
    text-indent: -9999px;
}

#versionHistory {
    left: 0;
    text-transform: uppercase;
    position: absolute;
    width: 45px;
    z-index: 2;
    bottom: 0; 
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.6);
    -webkit-transition: bottom 0.1s linear;
}

#versionHistory li,
#versionHistory a {
    display: block;
    width: 100%;
    height: 23px;
    text-align: center;
}

#versionHistory a:link,
#versionHistory a:visited,
#versionHistory a:focus
{
    text-transform: uppercase;
    color: #333;
    font-size: 0.8175em;
    font-weight: bold;
    background-color: #CCC;
    padding: 7px 0 3px 0;
    border-bottom: 1px dotted #666;
    overflow-y: hidden;
    box-shadow: 2px 2px 5px -3px rgba(0,0,0,0.6);
    -webkit-transition: margin 0.1s linear;
}

#versionHistory li:last-child a {
    border-bottom: 0;
}

#versionHistory a:active {
    margin-left: 5px;
}

#versionHistory a.on {
    background-color: #999;
    margin-left: 3px;
}

#versionHistory a:hover {
    background-color: #999;
}

#screens {
    margin-left: -30px;
}

#screens li a:link,
#screens li a:visited,
#screens li a:focus,
#screens li a:active {
    font-size: 0.8125em; /* 13px */
    color: #666;
    min-height: 26px;
    padding: 10px 15px 0 15px;
    -webkit-transition: background-color 0.2s linear;
}

#screens li a:hover {
    background-color: rgba(0,0,0,0.2);
    /*text-shadow: 1px 1px 1px rgba(255,255,255, 0.8);*/
}

#screens li a:active {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}

#content,
#annotations {
    min-width: 800px;
    margin: 0 285px 0 32px;
}

#design {
    width: 100%;
    text-align: center;
}

#tasks {
    font-size: 0.8175em; /* 13px */
    right: -285px;
    width: 253px;
}

#tasks > div.group {
    -webkit-transitions: position 0.5s linear;
    position: relative;
}

#tasks > a {
    display: block;
    width: 10px;
    height: 50px;
}

#tasks header {
    width: 253px;
}

#tasks header > a {
    display: inline-block;
    border-radius: 3px 3px 0 0;
    font-weight: bold;
    line-height: 1.4;
    text-transform: uppercase;
    padding: 2px 2px 3px 8px;
    background-color: #666;
    border-bottom: 1px solid #333;
    color: #ccc;
    box-shadow: 2px 4px 5px 2px rgba(0,0,0,0.7);
    margin-right: 15px;
}

#tasks header > a.active {
    background-color: #ccc;
    border-bottom: 1px solid #ccc;
    color: #000;
}

#tasks header > a span {
    display: inline-block;
    border-radius: 3px;
    margin: 3px;
    padding: 0 5px;
    line-height: 1.3;
    background-color: #333;
}

#tasks header > a.active span {
    background-color: #fff;
}

#tasks article section {
    padding: 10px 0;
    border-bottom: 1px dotted #333;
}

#tasks article section:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}

#tasks article section header {
    color: #339;
    margin-bottom: 10px;
}

#tasks article section p {
    color: #000;
    line-height: 1.3;

}

#tasks article section fieldset {
    padding-top: 10px;
}

#tasks article section fieldset input {
    margin-left: 0;
}

#tasks-todo,
#tasks-done {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#CCCCCC), to(#999999));
    border-radius: 0 3px 3px 3px;
    width: 223px;
    padding: 5px 10px 15px 10px;
    box-shadow: 3px 9px 7px -1px rgba(0,0,0,0.6);
}

#annotations {
    position: relative;
    font-size: 0.8175em;
    line-height: 1.4;
    padding: 32px 0 0 20px;
}

#annotations header {
    position: relative;
}

#annotations header img {
    position: absolute;
    z-index: 1;
    top: -10px;
    left: -20px;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.6);
}

#annotations header h1 {
    position: absolute;
    left: 50px;
    top: -12px;
    color: #CCC;
    font-weight: bold;
}

#annotations article  {
    padding-bottom: 50px;
}

#annotations .item .item {
    margin-left: 20px;
}

#annotations article .group {
    position: relative;
    top: 10px;
    background-color: #ccc;
    border-radius: 3px;
    box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.6);
}

#annotations article .annotationId {
    width: 99.4%;
    position: relative;
    height: 7px;
}

#annotations article .annotationId span {
    display: block;
    position: absolute;
    right: 0;
    background-color: #339;
    border-radius: 0 0 2px 2px;
    padding: 3px 6px 0 3px;
}

#annotations article.explain .annotationId,
#annotations article.explain .annotationId span {
        color: #CCC;
        background-color: #339;
}

#annotations article.comment .annotationId,
#annotations article.comment .annotationId span {
        color: #333;
        background-color: #f90;
}

#annotations article .information {
    margin: 15px 40px 0 40px;
}

#annotations article footer {
    width: 100%;
    position: relative;
    padding: 10px 0 25px 0;
}

#annotations article footer .buttons {
    width: auto;
    position: absolute;
    right: 10px;
}

#annotations article footer .buttons a:first-child {
    padding-right: 10px;
}

#annotations article footer .buttons .create {
    -webkit-transitions: color 0.1s linear;
    display: inline-block;
    background: url(/static/images/sprite_icons.png) no-repeat -3px -601px;
    padding-left: 23px;
    color: #333;

}

#annotations article footer .buttons .reply {
    -webkit-transitions: color 0.1s linear;
    display: inline-block;
    background: url(/static/images/sprite_icons.png) no-repeat -3px -701px;
    padding-left: 23px;
    color: #333;
}

#annotations article footer .buttons .create:hover {
    background: url(/static/images/sprite_icons.png) no-repeat -3px -651px;
    color: #339;

}

#annotations article footer .buttons .reply:hover {
    background: url(/static/images/sprite_icons.png) no-repeat -3px -751px;
    color: #339;
}
footer {
    clear: left;
    width: 100%;
}

#dialogs {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
    background-color: rgba(0,0,0,0.6); 
}

.dialog {
    position: absolute;
    width: 600px;
    border: 1px solid #fff;
    border-radius: 6px;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F0F0F0), to(#CCCCCC));
    box-shadow: 0 0 15px 6px rgba(0, 0, 0, 0.8);
}

.dialog header {
    font-size: 0.8175em;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    border-radius: 6px 6px 0 0;
    padding: 15px;
}

div.dialog.explain header {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4B4BA5), to(#2E2E87));
}

div.dialog.comment header {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFA51F), to(#E18701));
}

div.dialog.dragFile header,
div.dialog.addTodo header {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#787878), to(#5A5A5A));
}

.dialog form legend,
.dialog form label {
    display: none;
}

.dialog form .buttons {
    padding: 10px 0 20px 0;
}

.dialog form .buttons button {
    float: right;
}

.dialog form .buttons button:first-child {
    margin-left: 20px;
}

.dialog form {
    padding: 21px 19px;
}

.dialog form textarea {
    width: 100%;
    height: 161px;
    border: 1px solid #999;
}

.dialog #dragFilesHere {
    height: 200px;
    background: url(/static/images/drag_files_here.png) no-repeat 50% 10px;
    overflow: hidden;
    text-indent: -9999px;
}

.dialog #dragFilesHere.dragged {
    background: url(/static/images/drag_files_here.png) no-repeat 50% -240px;
}
