body {
    font-family: "helvetica neue";
    font-size: 100%;
    background: url(/static/images/bg_tile.png) repeat left top;
}

a {
    text-decoration: none;
}

button {
    font-family: "helvetica neue";
    font-size: 0.8125em;
    height: 25px;
    border: 1px solid #bbb;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 2px 2px 2px -1px rgba(0,0,0,0.6);
    padding-left: 26px;
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
    line-height: 1.6;
}

button.on,
button.off {
    width: 60px; 
}

button.on {

}

button.off {
    background-color: #ccc;
    color: #666;
}

button.upload {
    background: #fff url(/static/images/upload_icon.png) no-repeat  5px 4px;
}

button.info.on {
    background: #fff url(/static/images/info_icon.png) no-repeat  5px 4px;
}

button.comments.off {
    background: #ccc url(/static/images/comment_icon_off.png) no-repeat  5px 4px;
}

#productHeader p, 
#productHeader a,
#screens,
#screens li,
#screens li a,
#toolbar a,
#design,
#annotations,
#tasks header,
#tasks-done,
#tasks-todo {
    display: block;
    float: left;
}

#productHeader p:last-child,
#tasks,
#tasks > a {
    float: right;
}

.dropdown,
#dialogs,
#tasks-done {
    display: none;
    position: absolute;
}

#page {
    margin: 0 auto;
    position:relative;
}

#productHeader #logo {
    position: relative;
    margin-top: -5px;
    width: 96px;
}

#page > header {
    min-height: 72px;
    width: 100%;
    overflow: hidden;
    padding-bottom: 15px;
}

#productHeader, #toolbar {
    width: 100%;
    padding-left: 10px;
}

#productHeader {
    min-height: 26px;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#24375D), to(#242546));
    margin-bottom: 1px;
    padding-top: 10px;
}

#productHeader p,
#productHeader a:link,
#productHeader a:visited,
#productHeader a:focus,
#productHeader a:hover,
#productHeader a:active {
    font-size: 0.875em; /*12px*/
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    margin-right: 30px;
}

#toolbar {
    width: 100%;
    position: relative;
    min-height: 35px;
    background: url(/static/images/toolbar.png) no-repeat left top, -webkit-gradient(linear, 0% 0%, 0% 20%, from(#9d9d9d), to(#cccccc));
    margin-bottom: 1px;
    box-shadow: 0px 10px 5px -5px rgba(0,0,0,0.6);
}

#toolbar > a:first-child {
    color: #666;
    position: absolute;
    left: 10px;
    top: 5px;
    font-size: 1.5625em;
}

#toolbar .buttons {
    position: absolute;
    top: 5px;
    right: 30px; 
}

.buttons .group {
    float: left;
    border-right: 1px dotted #333;
    padding: 0 9px 2px 0;
    margin-right: 5px;
}

#screens li a:link,
#screens li a:visited,
#screens li a:focus,
#screens li a:active {
    font-size: 0.8125em;
    color: #666;
    margin-right: 20px;
    min-height: 26px;
    padding: 10px 5px 0 5px;
}

#screens li a:hover {
    background-color: rgba(0,0,0,0.1);
    text-shadow: 1px 1px 1px rgba(255,255,255, 0.8);
}

#screens li a:active {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}

#design,
#annotations {
    width: 100%;
    margin: 0 32px;
    background-color: rgba(0, 0, 0, 0.5);
}

#tasks {
    width: 253px;
}

#tasks > a {
    display: block;
    width: 10px;
    height: 50px;

}

#tasks header {
    width: 253px;
}

#tasks-todo,
#tasks-done {
    background-color: #CCC;
    border-radius: 0 0 3px 3px;
    width: 243px;
}
footer {
    clear: left;
    width: 100%;
}
