body {
    font-family: "helvetica neue";
    font-size: 100%;
    background: url(/static/images/bg_tile.png) repeat left top;
}

a {
    text-decoration: none;
}

#toolbar button {
    font-family: "helvetica neue";
    font-size: 0.8125em;
    height: 25px;
    border: 1px solid #bbb;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 2px 2px 2px -1px rgba(0,0,0,0.6);
    padding-left: 26px;
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
    line-height: 1.6;
}

button.on,
button.off {
    width: 60px; 
}

button.on {

}

button.off {
    background-color: #ccc;
    color: #666;
}

button.upload {
    background: #fff url(/static/images/upload_icon.png) no-repeat  5px 4px;
}

button.info.on {
    background: #fff url(/static/images/info_icon.png) no-repeat  5px 4px;
}

button.comments.off {
    background: #ccc url(/static/images/comment_icon_off.png) no-repeat  5px 4px;
}

#productHeader p, 
#productHeader a,
#screens,
#screens li,
#screens li a,
#toolbar a,
#design,
#annotations,
#tasks header,
#tasks-done,
#tasks-todo {
    display: block;
    float: left;
}

#productHeader p:last-child,
#tasks,
#tasks > a {
    float: right;
}

.dropdown,
#tasks-done,
#tasks time,
#tasks header ul {
    display: none;
    position: absolute;
}



#dialogs .dragFile, 
#dialogs .comment,
#dialogs .explain {
    display: none;
}



#page,
#content,
#annotations .item {
    position: relative;
}

#tasks,
#annotations h1 img {
    position: absolute;
}

#page {
    margin: 0 auto;
}

#productHeader #logo {
    position: relative;
    margin-top: -5px;
    width: 96px;
}

#page > header {
    min-height: 72px;
    width: 100%;
    overflow: hidden;
    padding-bottom: 32px;
}

#productHeader, #toolbar {
    width: 100%;
}

#productHeader {
    min-height: 26px;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#24375D), to(#242546));
    margin-bottom: 1px;
    padding-top: 10px;
}

#productHeader p,
#productHeader a:link,
#productHeader a:visited,
#productHeader a:focus,
#productHeader a:hover,
#productHeader a:active {
    font-size: 0.875em; /*12px*/
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    margin-right: 30px;
}

#productHeader p:last-child {
    margin-right: 10px;
}

#toolbar {
    width: 100%;
    position: relative;
    min-height: 35px;
    background: url(/static/images/toolbar.png) no-repeat left top, -webkit-gradient(linear, 0% 0%, 0% 20%, from(#9d9d9d), to(#cccccc));
    margin-bottom: 1px;
    box-shadow: 0px 10px 5px -5px rgba(0,0,0,0.6);
}

#toolbar > a:first-child {
    color: #666;
    position: absolute;
    left: 10px;
    top: 5px;
    font-size: 1.5625em;
}

#toolbar .buttons {
    position: absolute;
    top: 5px;
    right: 10px; 
}

.buttons .group {
    float: left;
    border-right: 1px dotted #333;
    padding: 0 9px 2px 0;
    margin-right: 5px;
}

#screens li a:link,
#screens li a:visited,
#screens li a:focus,
#screens li a:active {
    font-size: 0.8125em; /* 13px */
    color: #666;
    margin-right: 20px;
    min-height: 26px;
    padding: 10px 5px 0 5px;
}

#screens li a:hover {
    background-color: rgba(0,0,0,0.1);
    text-shadow: 1px 1px 1px rgba(255,255,255, 0.8);
}

#screens li a:active {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}

#content,
#annotations {
    min-width: 800px;
    margin: 0 285px 0 32px;
}

#design {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

#tasks {
    font-size: 0.8175em; /* 13px */
    right: -285px;
    width: 253px;
}

#tasks > a {
    display: block;
    width: 10px;
    height: 50px;

}

#tasks header {
    width: 253px;
}

#tasks header > a {
    display: inline-block;
    border-radius: 3px 3px 0 0;
    font-weight: bold;
    line-height: 1.4;
    text-transform: uppercase;
    padding: 2px 8px 3px 8px;
    background-color: #666;
    border-bottom: 1px solid #333;
    color: #ccc;
    box-shadow: 2px 4px 5px 2px rgba(0,0,0,0.7);
    margin-right: 10px;
}

#tasks header > a.active {
    background-color: #ccc;
    border-bottom: 1px solid #ccc;
    color: #000;
}

#tasks header > a span {
    display: inline-block;
    border-radius: 3px;
    margin: 3px;
    padding: 0 3px;
    line-height: 1.3;
    background-color: #333;
}

#tasks header > a.active span {
    background-color: #fff;
}

#tasks article section {
    padding: 10px 0;
    border-bottom: 1px dotted #333;
}

#tasks article section:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}

#tasks article section header {
    color: #339;
    margin-bottom: 10px;
}

#tasks article section p {
    color: #000;
    line-height: 1.3;

}

#tasks article section fieldset {
    padding-top: 10px;
}

#tasks article section fieldset input {
    margin-left: 0;
}

#tasks-todo,
#tasks-done {
    background-color: #CCC;
    border-radius: 0 3px 3px 3px;
    width: 223px;
    padding: 5px 10px 15px 10px;
}

#annotations {
    position: relative;
    font-size: 0.8175em;
    line-height: 1.4;
    padding: 32px 0 0 20px;
}

#annotations header {
    position: relative;
}

#annotations header img {
    position: absolute;
    z-index: 1;
    top: -10px;
    left: -20px;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.6);
}

#annotations header h1 {
    position: absolute;
    left: 50px;
    top: -12px;
    color: #CCC;
    font-weight: bold;
}

#annotations article  {
    padding-bottom: 50px;
}

#annotations .item .item {
    margin-left: 20px;
}

#annotations article .group {
    position: relative;
    top: 10px;
    background-color: #ccc;
    border-radius: 3px;
    box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.6);
}

#annotations article .annotationId {
    width: 99.4%;
    position: relative;
    height: 7px;
}

#annotations article .annotationId span {
    display: block;
    position: absolute;
    right: 0;
    background-color: #339;
    border-radius: 0 0 2px 2px;
    padding: 3px 3px 0 3px;
}

#annotations article.explain .annotationId,
#annotations article.explain .annotationId span {
        color: #CCC;
        background-color: #339;
}

#annotations article.comment .annotationId,
#annotations article.comment .annotationId span {
        color: #333;
        background-color: #f90;
}

#annotations article .information {
    margin: 15px 40px 0 40px;
}

#annotations article footer {
    width: 100%;
    position: relative;
    padding: 10px 0 20px 0;
}

#annotations article footer .buttons {
    width: auto;
    position: absolute;
    right: 10px;
}

#annotations article footer .buttons a:first-child {
    padding-right: 5px;
}

#annotations article footer .buttons .reply {
    display: inline-block;
    background: url(/static/images/reply_icon.png) no-repeat left 1px;
    padding-left: 23px;

}

#annotations article footer .buttons .create {
    display: inline-block;
    background: url(/static/images/create_icon.png) no-repeat left 1px;
    padding-left: 23px 

}

footer {
    clear: left;
    width: 100%;
}

.dialog {
    position: absolute;
    top: 200px;
    left: 200px;
    width: 600px;
    border: 1px solid #fff;
    border-radius: 6px;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F0F0F0), to(#CCCCCC));
}

.dialog header {
    font-size: 0.8175em;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    border-radius: 6px 6px 0 0;
    padding: 15px;
}

div.dialog.explain header {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4B4BA5), to(#2E2E87));
}

div.dialog.comment header {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFA51F), to(#E18701));
}

div.dialog.dragFile header {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#787878), to(#5A5A5A));
}

.dialog form legend,
.dialog form label {
    display: none;
}

.dialog form .buttons {
    padding: 10px 0 20px 0;
}

.dialog form .buttons button {
    float: right;
}

.dialog form .buttons button:first-child {
    margin-left: 20px;
}

.dialog form {
    padding: 21px 19px;
}

.dialog form textarea {
    width: 100%;
    height: 161px;
    border: 1px solid #999;
}

.dialog #dragFilesHere {
    height: 200px;
    background: url(/static/images/drag_files_here.png) no-repeat 50% 50%;
    overflow: hidden;
    text-indent: -9999px;
}
