<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Otter</title>
        <link type="text/css" rel="stylesheet" href="static/css/reset.css" />
        <link type="text/css" rel="stylesheet" href="static/css/common.css" />
		<script src="static/js/upload.js"> </script>
		<script src="static/js/r.js"></script>
		<script src="static/js/overlay.js"></script>
		<script src="static/js/comment.js"></script>

		
    </head>
    <body>
	    <div id="page" data-revision="v1">
        <header>
            <div id="productHeader">
                <a href="" id="logo"><img src="static/images/OtterLogoSmall.png" title="" alt="" /></a>
                <a href=""><span>Remicide ipad app</span></a>
                <ul id="projects" class="dropdown">
                    <li><a href="#">One</a></li>
                    <li><a href="#">One</a></li>
                    <li><a href="#">One</a></li>
                    <li><a href="#">One</a></li>
                    <li><a href="#">One</a></li>
                </ul>
                <p>Designer: Dan Johnson</p>
                <p>Client: DDB Needham</p>
                <p>Dan Johnson</p>
            </div>
            <div id="toolbar">
                <a href="#"><span>V3</span></a>
                <ul id="versionHistory" class="dropdown">
                    <li><a href="#">One</a></li>
                    <li><a href="#">One</a></li>
                    <li><a href="#">One</a></li>
                    <li><a href="#">One</a></li>
                    <li><a href="#">One</a></li>
                </ul>
                <ul id="screens">
                    <li><a href="">Homepage</a></li>
                    <li><a href="">Registration</a></li>
                    <li><a href="">Login</a></li>
                    <li><a href="">About us</a></li>
                    <li><a href="">Sitemap</a></li>
                </ul>
                <div class="buttons">
                    <div class="group">
                        <button class="info on">On</button>
                        <button class="comments off">Off</button>
                    </div>
                    <button class="upload">Upload designs</button>
                </div>
            </div>
        </header>
        <div id="content">
            <section id="design">
            </section>
            <aside id="tasks">
                <header>
                <a href="" class="active">To do <span>43</span></a>
                <a href="">Complete <span>10</span></a>
                </header>
                <div id="tasks-todo">
                    <form id="" name="" action="" method="">
                    <article id="">
                        <section class="">
                            <header>
                                <h1>2.2 <time datetime="">17 mar 2011, 14:56</time></h1>
                                <ul>
                                    <li><a href="#">One</a></li>
                                    <li><a href="#">One</a></li>
                                    <li><a href="#">One</a></li>
                                    <li><a href="#">One</a></li>
                                    <li><a href="#">One</a></li>
                                </ul>
                            </header>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                            <fieldset>
                                <legend></legend>
                                <input type="checkbox" name="" id="" value="" />
                                <label for="">Resolved</label>
                            </fieldset>
                        </section>
                        <section class="">
                            <header>
                                <h1>2.1 <time datetime="">17 mar 2011, 14:56</time></h1>
                                <ul>
                                    <li><a href="#">One</a></li>
                                    <li><a href="#">One</a></li>
                                    <li><a href="#">One</a></li>
                                    <li><a href="#">One</a></li>
                                    <li><a href="#">One</a></li>
                                </ul>
                            </header>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                            <fieldset>
                                <legend></legend>
                                <input type="checkbox" name="" id="" value="" />
                                <label for="">Resolved</label>
                            </fieldset>
                        </section>
                        </article>
                    </form>
                </div>
                <div id="tasks-done">
                    <article id="">
                        <section class="">
                            <header>
                                <time datetime="">17 mar 2011, 14:56</time>
                            </header>
                        </section>
                        <section class="">
                            <!--annotation-->
                        </section>
                        <section class="">
                            <!--annotation-->
                        </section>
                        <section class="">
                            <!--annotation-->
                        </section>
                        <section class="">
                            <!--annotation-->
                        </section>    
                    </article>
                </div>
                <a href="#"></a>
            </aside>
        </div>
        <div id="annotations">
            <section id="annotation1">
                <div class="item">
                    <article class="explain">
                        <header>
                            <img src="static/images/avatar.png" title="" alt="" /> 
                            <h1>Dave O'Flynn</h1>
                        </header>
                        <div class="group">
                        <div class="annotationId"><span>3.1</span></div>
                        <div class="information">One night, the Potato family sat down to dinner--Mother Potato and her three daughters. Midway through the meal, the eldest daughter spoke up. "Mother Potato?" she said. "I have an announcement to make." </div>
                        <footer>
                            <div class="buttons">
                                <a class="create" href="">Create a todo</a>
                                <a class="reply" href="">Reply</a>
                            </div>
                        </footer>
                        </div>
                    </article>
                    <div class="item">
                        <article class="comment">
                            <header>
                                <img src="static/images/avatar.png" title="" alt="" /> 
                                <h1>Dave O'Flynn</h1>
                            </header>
                            <div class="group">
                            <div class="annotationId"><span>3.1</span></div>
                            <div class="information">One night, the Potato family sat down to dinner--Mother Potato and her three daughters. Midway through the meal, the eldest daughter spoke up. "Mother Potato?" she said. "I have an announcement to make." </div>
                            <footer>
                                <div class="buttons">
                                    <a class="create" href="">Create a todo</a>
                                    <a class="reply" href="">Reply</a>                              
                                </div>
                            </footer>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article class="comment">
                            <header>
                                <img src="static/images/avatar.png" title="" alt="" /> 
                                <h1>Dave O'Flynn</h1>
                            </header>
                            <div class="group">
                            <div class="annotationId"><span>3.1</span></div>
                            <div class="information">One night, the Potato family sat down to dinner--Mother Potato and her three daughters. Midway through the meal, the eldest daughter spoke up. "Mother Potato?" she said. "I have an announcement to make." </div>
                            <footer>
                                <div class="buttons">
                                <a class="create" href="">Create a todo</a>
                                <a class="reply" href="">Reply</a>
                                </div>
                            </footer>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="item">
                    <article class="explain">
                        <header>
                            <img src="static/images/avatar.png" title="" alt="" /> 
                            <h1>Dave O'Flynn</h1>
                        </header>
                        <div class="group">
                        <div class="annotationId"><span>3.1</span></div>
                        <div class="information">One night, the Potato family sat down to dinner--Mother Potato and her three daughters. Midway through the meal, the eldest daughter spoke up. "Mother Potato?" she said. "I have an announcement to make." </div>
                        <footer>
                            <div class="buttons">
                                <a class="create" href="">Create a todo</a>
                                <a class="reply" href="">Reply</a>
                            </div>
                        </footer>
                        </div>
                    </article>
                </div>
            </section>
            <section id="annotation2">
            </section>
        </div>
        <footer>
            This is the footer
        </footer>
        <div id="dialogs">
            <div class="dialog explain" style="display: block">
                <header>
                    <h1>Explain</h1>
                </header>
                <form id="" name="" action="" method="">
                    <fieldset>
                        <legend>Explain</legend>
                        <label for="explain">Explain</label>
                        <textarea id="explain"></textarea>
                    </fieldset>
                    <div class="buttons">
                        <button type="cancel">cancel</button>
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
            <div class="dialog comment" id="comment-dialog">
                <header>
                    <h1>Comment</h1>
                </header>
                <form id="" name="" action="" method="">
                    <fieldset>
                        <legend>Comment</legend>
                        <label for="comment">Comment</label>
                        <textarea id="comment"></textarea>
                    </fieldset>
                    <div class="buttons">
                        <button type="cancel">cancel</button>
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
            <div class="dialog dragFile">
                <header>
                    <h1>Upload Files</h1>
                </header>
                <form id="" name="" action="" method="">
                    <div id="dragFilesHere">Drag files here</div>
                </form>
            </div>
        </div>
    </div> 
	 <script>
		uploader("page");
		var overlayer = imageOverlays("design");
		overlayer.loadImage("/static/images/mockup.png");
	 </script>
    </body>
</html>

