<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Otter</title>

    </head>
    <div id="page">
        <header>
            <div id="productHeader">
                <a href=""><img src="" title="" alt="" /></a>
                <div id="projects">
                </div>
                <p>Designer: Dan Johnson</p>
                <p>Client: DDB Needham</p>
                <p>Dan Johnson</p>
            </div>
            <div id="toolbar">
                <nav id="versionHistory">
                    <ul>
                        <li><a href="#">One</a></li>
                        <li><a href="#">One</a></li>
                        <li><a href="#">One</a></li>
                        <li><a href="#">One</a></li>
                        <li><a href="#">One</a></li>
                    </ul>
                </nav>
                <button>On</button>
                <button>On</button>
                <button>Upload designs</button>
            </div>
        </header>
        <div id="content">
            <section id="design">
                <!--The design goes in here-->
            </section>
            <aside id="tasks">
                <div id="tasks-todo">
                    <article id="">
                        <section class="">
                            <header>
                                <time datetime="">17 mar 2011, 14:56</time>
                        </section>
                        <section class="">
                            <!--annotation-->
                        </section>
                        <section class="">
                            <!--annotation-->
                        </section>
                        <section class="">
                            <!--annotation-->
                        </section>
                        <section class="">
                            <!--annotation-->
                        </section>    
                    </article>
                </div>
                <div id="tasks-done">
                    <article id="">
                        <section class="">
                            <header>
                                <time datetime="">17 mar 2011, 14:56</time>
                        </section>
                        <section class="">
                            <!--annotation-->
                        </section>
                        <section class="">
                            <!--annotation-->
                        </section>
                        <section class="">
                            <!--annotation-->
                        </section>
                        <section class="">
                            <!--annotation-->
                        </section>    
                    </article>
                </div>
            </aside>
        </div>
        <div id="annotations">
            <article class="annotation explain">
                <article>
                    <header>
                        <h1>Dave O'Flynn <time datetime="">Sometime</time></h1>
                    </header>
                    <div class="information"></div>
                    <footer>
                        <button>Reply</button>
                        <button>Add to tasks</button>
                    </footer>
                </article>
            </article>
        </div>
        <footer>
            This is the footer
        </footer>
    </div> 
</html>

