<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Otter</title>
        <link type="text/css" rel="stylesheet" href="static/css/reset.css" />
        <link type="text/css" rel="stylesheet" href="static/css/common.css" />
		<script src="static/js/upload.js"> </script>
    </head>
    <div id="page">
        <header>
            <div id="productHeader">
                <a href="" id="logo"><img src="static/images/OtterLogoSmall.png" title="" alt="" /></a>
                <a href=""><span>Remicide ipad app</span></a>
                <ul id="projects" class="dropdown">
                    <li><a href="#">One</a></li>
                    <li><a href="#">One</a></li>
                    <li><a href="#">One</a></li>
                    <li><a href="#">One</a></li>
                    <li><a href="#">One</a></li>
                </ul>
                <p>Designer: Dan Johnson</p>
                <p>Client: DDB Needham</p>
                <p>Dan Johnson</p>
            </div>
            <div id="toolbar">
                <a href="#"><span>V3</span></a>
                <ul id="versionHistory" class="dropdown">
                    <li><a href="#">One</a></li>
                    <li><a href="#">One</a></li>
                    <li><a href="#">One</a></li>
                    <li><a href="#">One</a></li>
                    <li><a href="#">One</a></li>
                </ul>
                <ul id="screens">
                    <li><a href="">Homepage</a></li>
                    <li><a href="">Registration</a></li>
                    <li><a href="">Login</a></li>
                    <li><a href="">About us</a></li>
                    <li><a href="">Sitemap</a></li>
                </ul>
                <div class="buttons">
                    <button>On</button>
                    <button>On</button>
                    <button>Upload designs</button>
                </div>
            </div>
        </header>
        <div id="content">
            <section id="design">
                <!--The design goes in here-->
            </section>
            <aside id="tasks">
                <header>
                    <a href="">Todo (3)</a>
                    <a href="">Done (42)</a>
                </header>
                <div id="tasks-todo">
                    <form id="" name="" action="" method="">
                    <article id="">
                        <section class="">
                            <header>
                                <time datetime="">17 mar 2011, 14:56</time>
                                <a href="">Tools</a>
                                <ul>
                                    <li><a href="#">One</a></li>
                                    <li><a href="#">One</a></li>
                                    <li><a href="#">One</a></li>
                                    <li><a href="#">One</a></li>
                                    <li><a href="#">One</a></li>
                                </ul>
                            </header>
                            <div class="information">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</div>
                            <input type="checkbox" name="" id="" value="" />
                            <label for="">Resolved</label>
                        </section>
                        <section class="">
                            <!--annotation-->
                        </section>
                        <section class="">
                            <!--annotation-->
                        </section>
                        <section class="">
                            <!--annotation-->
                        </section>
                        <section class="">
                            <!--annotation-->
                        </section>    
                    </article>
                    </form>

                </div>
                <div id="tasks-done">
                    <article id="">
                        <section class="">
                            <header>
                                <time datetime="">17 mar 2011, 14:56</time>
                        </section>
                        <section class="">
                            <!--annotation-->
                        </section>
                        <section class="">
                            <!--annotation-->
                        </section>
                        <section class="">
                            <!--annotation-->
                        </section>
                        <section class="">
                            <!--annotation-->
                        </section>    
                    </article>
                </div>
            </aside>
        </div>
        <div id="annotations">
            <section id="annotation1">
                <div class="item">
                    <article class="explain">
                        <header>
                            <h1><img src="" title="" alt="" />Dave O'Flynn <time datetime="">Sometime</time></h1>
                        </header>
                        <div class="information"></div>
                        <footer>
                            <button>Reply</button>
                            <button>Add to tasks</button>
                        </footer>
                    </article>
                    <div class="item">
                        <article class="comment">
                            <header>
                            <h1><img src="" title="" alt="" />Dave O'Flynn <time datetime="">Sometime</time></h1>
                            </header>
                            <div class="information"></div>
                            <footer>
                                <button>Reply</button>
                                <button>Add to tasks</button>
                            </footer>
                        </article>
                    </div>
                    <div class="item">
                        <article class="comment">
                            <header>
                                <h1><img src="" title="" alt="" />Dave O'Flynn <time datetime="">Sometime</time></h1>
                            </header>
                            <div class="information"></div>
                            <footer>
                                <button>Reply</button>
                                <button>Add to tasks</button>
                            </footer>
                        </article>
                    </div>
                </div>
                <div class="item">
                    <article class="explain">
                        <header>
                            <h1>Dave O'Flynn <time datetime="">Sometime</time></h1>
                        </header>
                        <div class="information"></div>
                        <footer>
                            <button>Reply</button>
                            <button>Add to tasks</button>
                        </footer>
                    </article>
                </div>
            </section>
            <section id="annotation2">
            </section>
        </div>
        <footer>
            This is the footer
        </footer>
        <div id="dialogs">
            <div class="dialog explain">
                <header>
                    <h1>Explain</h1>
                    <button>Close</button>
                </header>
                <form id="" name="" action="" method="">
                    <fieldset>
                        <legend>Explain</legend>
                        <label for="explain">Explain</label>
                        <textarea id="explain"></textarea>
                    </fieldset>
                    <button type="submit">Submit</button>
                </form>
            </div>
            <div class="dialog comment">
                <header>
                    <h1>Comment</h1>
                    <button>Close</button>
                </header>
                <form id="" name="" action="" method="">
                    <fieldset>
                        <legend>Comment</legend>
                        <label for="comment">Comment</label>
                        <textarea id="comment"></textarea>
                    </fieldset>
                    <button type="submit">Submit</button>
                </form>
            </div>
            <div class="dialog addTask">
                <header>
                    <h1>Add task</h1>
                    <button>Close</button>
                </header>
                <form id="" name="" action="" method="">
                    <fieldset>
                        <legend>Add to Todo list</legend>
                        <label for="addTask">Add to todo list</label>
                        <textarea id="addTask"></textarea>
                    </fieldset>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div> 
</html>

